# Xcode
#
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/

# Swift Package Manager
#
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock
*.xcworkspace

# Carthage
#
Carthage/Build/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Code Coverage
#
*.xccoverage
!default.xccoverage

# Other
#
.DS_Store
.idea/
*.moved-aside
*.xcuserstate
*.hmap

# Obj-C/Swift specific
#
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Secrets
Secrets.swift
